# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
myvenv/

# pyenv
.python-version

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Ruff
.ruff_cache/

# github
.github/

# Machine Learning Models
*.pkl
*.joblib
models/*.pkl
models/*.joblib